:root {
  --bg: #16161a;
  --white: #ffffff;
  --bar: #d8d8d8;
  --orange-ligth: #f9e5da;
  --text_dark: #391400;
  --body: normal 400 1.6rem/3.2rem Epilogue;
  --title-1: normal 800 5.6rem/6.4rem Epilogue;
  --title-3: normal 800 4rem/4.8rem Epilogue;
  --title-4: normal 700 2.4rem/3.2rem Epilogue;
  --title-5: normal 400 1.6rem/3.2rem Epilogue;
  --button: normal 900 1.4rem/1.435rem Epilogue;
  --label: normal 700 1.2rem/1.23rem Epilogue;
  --input: var(--title-5);
  --bg-opacity: rgba(36, 38, 41, 0.356);
  --text_dark_gray: #391400;
  --orange: #ef6d58;
  --primary: #7f5af0;
  --border: #f3d1bf;
  --divier: #3a3c56;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font: var(--body);
  color: var(--white);
}

header {
  background-color: var(--bg);
  padding: 1.6rem 0;
  width: 100%;
  z-index: 1;
  transition: position 0.5s 1s ease;
  position: fixed;
}

.navbar-desktop,
.navbar-list {
  display: flex;
  gap: 4.8rem;
}

.navbar-desktop {
  margin-left: 4.8rem;
  display: none;
}

.header-main {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  width: 4.8rem;
  height: 4.8rem;
  padding: 1.7rem 1.6rem;
  border-radius: 6px;
  border: 2px solid var(--bar);
  background-color: transparent;
  cursor: pointer;
}

.bar,
.bar::before,
.bar::after {
  width: 100%;
  height: 2px;
  background-color: var(--white);
  display: block;
  content: "";
  position: relative;
  border-radius: 1px;
  transition: all 0.5s ease-in;
}

.bar::before,
.bar::after {
  position: absolute;
}

.bar::before {
  bottom: 4px;
}

.bar::after {
  top: 4px;
}

.hamburger--active .bar {
  background: transparent;
}

.hamburger--active .bar::before {
  transform: rotate(-45deg);
  bottom: 0;
}

.hamburger--active .bar::after {
  transform: rotate(45deg);
  top: 0;
}

.container {
  padding: 0 1.6rem;
  max-width: 1440px;
  margin: 0 auto;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

.navbar-mobile {
  position: fixed;
  background-color: var(--bg);
  width: 100%;
  min-height: 100vh;
  display: block;
  transform: translate(100%);
  transition: transform 1s ease-in;
  z-index: 1;
  padding-top: 2rem;
}

.navbar-mobile--active {
  transform: translate(0);
}

.navbar-list--column {
  flex-direction: column;
  padding-left: 1.6rem;
}

.navbar-list-item {
  list-style: none;
}

.navbar-link {
  text-decoration: none;
  color: var(--white);
}

.overflow-hidden {
  overflow: hidden;
}

.main-content {
  background-color: var(--bg);
  padding-bottom: 6.4rem;
  padding-top: 8rem;
}

.title-1 {
  font: var(--title-1);
  text-transform: capitalize;
}

.paragraph {
  font: var(--body);
  color: rgba(255, 255, 255, 0.64);
  margin: 2.4rem 0;
}

.btn {
  font: var(--button);
  text-decoration: none;
  color: var(--white);
  width: 100%;
  background-color: var(--primary);
  display: block;
  text-align: center;
  padding: 1.6rem 0;
  border: solid 1px transparent;
}

.proyects-content {
  padding: 6.4rem 0;
  background-color: var(--orange-ligth);
}

.proyects-titles {
  margin-bottom: 4rem;
}

.title-5 {
  font: var(--title-5);
  letter-spacing: 3px;
  color: var(--orange);
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.title-3 {
  color: var(--text_dark);
  font: var(--title-3);
  margin-bottom: 2.4rem;
}

.proyect {
  width: 100%;
  min-height: 52.5rem;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  margin-bottom: 3.2rem;
}

.proyect-back,
.proyect-front {
  width: 100%;
  min-height: 52.5rem;
  position: absolute;
}

.proyect-back {
  background-position: center;
  background-size: cover;
}

.nikon {
  background-image: url("../images/niko.png");
}

.amazonas {
  background-image: url("../images/amazonas.png");
}
.principe {
  background-image: url("../images/principe.png");
}

.proyect-front {
  background-color: var(--bg-opacity);
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.proyect-title {
  color: var(--white);
  padding: 0 0 1.6rem 1.6rem;
}

.about {
  padding: 6.4rem 0;
}

.text-dark {
  color: var(--text_dark_gray);
  opacity: 0.64;
}

.text-primary {
  color: var(--primary);
}

.testimonies-content {
  background-color: var(--orange-ligth);
  padding: 1.6rem 0 6.4rem;
}

.title-4 {
  color: var(--text_dark_gray);
  font: var(--title-4);
}

.testimony {
  padding: 1.9rem 2.5rem 5.5rem;
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  gap: 5rem;
  max-width: 39rem;
  margin: 0 auto;
}

.testimony--white {
  background-color: var(--white);
}

.score {
  display: flex;
  align-items: center;
}

.testimony-profile {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.contact {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

.contact-main-info {
  margin-bottom: 4rem;
}

.contact-method {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 2.4rem;
}

.text-white {
  color: var(--white);
}

.form {
  background-color: var(--bg);
  padding: 2.8rem;
  border-radius: 6px;
}

.form-control {
  margin-bottom: 2.4rem;
}

.form-control:first-of-type {
  margin-top: 2.4rem;
}

label {
  color: var(--white);
  display: block;
  font: var(--label);
  margin-bottom: 1.6rem;
}

input[type="text"],
textarea {
  padding: 0.8rem 1.6rem;
  border-radius: 6px;
  border: 1px solid var(--white);
  font: var(--input);
  width: 100%;
}

.footer {
  background-color: var(--bg);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divider {
  display: block;
  width: 100%;
  height: 1px;
  margin: 2.4rem 0;
  background-color: var(--divier);
}

.copy {
  color: var(--white);
  opacity: 0.64;
  text-align: center;
  padding: 0 4rem;
}

.text-center {
  text-align: center;
}

@media screen and (min-width: 460px) {
  .proyect {
    max-width: 44.8rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 700px) {
  :root {
  --title-1: normal 800 7.2rem/8rem Epilogue;
  --title-3: normal 800 5.6rem/6.4rem Epilogue;
  --title-4: normal 800 4rem/4.8rem Epilogue;
  --title-5-1: normal 800 2.4rem/3.2rem Epilogue;
  --label: normal 700 1.2rem/1.23rem Epilogue;
  --input: var(--title-5);
  }

  .header-main {
    justify-content: normal;
  }
  .navbar-desktop {
    display: flex;
  }

  .hamburger,
  .navbar-mobile {
    display: none;
  }

  .main-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .main-content {
    padding-top: 14.3rem;
  }

  .main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-info > .title-1 {
    max-width: 53.8rem;
  }

  .main-info > .paragraph {
    max-width: 47.3rem;
  }

  .main-info > .btn {
    max-width: 15.4rem;
  }

  .testimonies-content .title-5 ~ .title-4 {
    font: var(--title-3);
  }

  .testimonies {
    justify-content: center;
  }

  .testimony .title-4 {
    font: var(--title-5-1);
  }

  .contact-main-info {
    max-width: 47rem;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-main-info .title-5 ~ .title-3 {
    font: var(--title-4);
  }

  .form {
    max-width: 57rem;
    margin-left: auto;
    margin-right: auto;
  }

  .form .title-4 {
    font: var(--title-5-1);
  }

  .footer-content {
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .footer-links {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .copy {
    text-align: left;
    padding: 0;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  main .container {
    padding: 13.5rem 1.6rem;
  }

  .proyects-titles {
    margin-left: calc(13.5rem - 1.6rem);
  }

  .proyects-list {
    display: flex;
    justify-content: space-between;
  }

  .proyect {
    margin-bottom: 0;
  }

  .about-content {
    display: flex;
    justify-content: space-between;
  }

  .about-info {
    max-width: 47.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .testimonies {
    margin-top: 4rem;
    display: flex;
    align-items: baseline;
  }

  .testimony {
    min-height: 43.2rem;
    margin: 0;
  }

  .testimony:nth-child(2) {
    min-height: 46.4rem;
  }

  .contact-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
